body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image-form, .response-form {
  margin: 2rem auto;
  max-width: auto;
  padding: 2rem;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  margin-top: 100px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.chat-bubble {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  width: 70%;
  max-height: 180px;
  overflow-y: auto;
  margin-bottom: auto;
}

.typed-text {
  white-space: pre-line;
}

.logo-image {
  width: 40px;
  height: 35px;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.loading-animation {
  position: relative;
  text-align: center;
  font-size: small;
}

.loading-animation .lottie-animation {
  display: inline-block;
}

.image-form.error-mode {
  display: none;
}

.error-animation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
